<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../css/global.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-5xl tracking-light font-extrabold text-white">
        {{#show}}
          {{title}}
        {{/show}}

        {{#create}}
          Creación de Libro
        {{/create}}

        {{#edit}}
          Edición de Libro
        {{/edit}}
        

      </h2>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center text-xl md:flex-row">
      <a class="text-white font-bold" href="/">
        Libros
      </a>
      <a class="text-white font-bold" href="/authors">
        Autores
      </a>
      <a class="text-white font-bold" href="/publishers">
        Editoriales
      </a>
    </nav>
  </header>
{{#book}}
  {{#show}}
    <article class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10">
  {{/show}}

  {{#create}}
    <form class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10" action="/book" method="POST">
  {{/create}}

  {{#edit}}
    <form class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10" action="/book/{{id}}" method="POST">
      <input type="hidden" name="_method" value="PUT">
  {{/edit}}

    <div class="flex flex-col gap-10 text-xl">

      <label for="title" class="mb-0 text-2xl tracking-light font-bold text-white">
        Título del Libro:
      </label>

      <input type="text" {{#show}}readonly{{/show}} name="title" value="{{title}}">

      <label for="Author" class="mb-0 text-2xl tracking-light font-bold text-white">
        Autor del Libro:
      </label>

      {{#show}}
      <input type="text" readonly name="title" value="{{author_name}}">
      {{/show}}

      {{#create}}
        <select name="author_id">
          <option value="" selected disabled hidde>Seleccione una opción</option>
          {{#author}}
            <option value="{{id}}">{{author}}</option>
          {{/author}}
        </select>
      {{/create}}

      {{#edit}}
        <select name="author_id">
          <option value="{{author_id}}">{{author_name}}</option>
          {{#author}}
            <option value="{{id}}">{{author}}</option>
          {{/author}}
        </select>
      {{/edit}}

      <label for="Publisher" class="mb-0 text-2xl tracking-light font-bold text-white">
        Editorial del Libro:
      </label>

      {{#show}}
        <input type="text" readonly name="title" value="{{publisher_name}}">
      {{/show}}

      {{#create}}
        <select name="publisher_id">
          <option value="" selected disabled hidde>Seleccione una opción</option>
          {{#publisher}}
            <option value="{{id}}">{{publisher}}</option>
          {{/publisher}}
        </select>
      {{/create}}

      {{#edit}}
        <select name="publisher_id">
          <option value="{{publisher_id}}" selected>{{publisher_name}}</option>
          {{#publisher}}
            <option value="{{id}}">{{publisher}}</option>
          {{/publisher}}
        </select>
      {{/edit}}

      <label for="title" class="mb-0 text-2xl tracking-light font-bold text-white">
        Idioma del Libro:
      </label>

      <input type="text" {{#show}}readonly{{/show}} name="language" value="{{language}}">

      <label for="title" class="mb-0 text-2xl tracking-light font-bold text-white">
        Cantidad de páginas del Libro:
      </label>

      <input type="number" {{#show}}readonly{{/show}} name="pages" value="{{pages}}">

    </div>

    <div class="flex flex-row gap-6">

      <label for="title" class="mb-0 text-2xl tracking-light font-bold text-white">
        Año del Libro:
      </label>

      <input type="number" {{#show}}readonly{{/show}} name="copyright" value="{{copyright}}">

      <label for="title" class="mb-0 text-2xl tracking-light font-bold text-white">
        Edición del Libro:
      </label>

      <input type="text" {{#show}}readonly{{/show}} name="edition" value="{{edition}}">
    </div>

    {{#edit}}
      <input class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md" type="submit" value="Update">
    {{/edit}}

    {{#create}}
      <input class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md" type="submit" value="Create">
    {{/create}}

    {{#show}}
      <a href="{{id}}/edit" class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md">Editar Registro</a>
      <a href="{{id}}/delete" class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">Eliminar Registro</a>
    {{/show}}

  {{#show}}
    </article>
  {{/show}}

  {{#create}}
    </form>
  {{/create}}

  {{#edit}}
   </form>
  {{/edit}}
  
{{/book}}

</body>

</html>