<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../css/global.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
{{#book}}

<body>
  <header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-5xl tracking-light font-extrabold text-white">

        {{title}}

      </h2>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center text-xl md:flex-row">
      <a class="text-white font-bold" href="/">
        Libros
      </a>
      <a class="text-white font-bold" href="/authors">
        Autores
      </a>
      <a class="text-white font-bold" href="/publishers">
        Editoriales
      </a>
    </nav>
  </header>

  <article class="max-w-3xl mx-auto flex flex-col gap-10 mt-10">
    <div class="flex flex-col gap-10 text-xl">
      <h2 class="mb-4 text-2xl tracking-light font-bold text-white">

        Título del Libro: {{title}}

      </h2>
      <a class="text-purple-700 underline" href="/author/{{author_id}}">
        <p>
          Autor: {{author}}
        </p>
      </a>
      <a class="text-purple-700 underline" href="/publisher/{{publisher_id}}">
        <p>
          Editorial: {{publisher}}
        </p>
      </a>
      <p>
        Idioma: {{language}}
      </p>
      <p>
        Cantidad de páginas: {{pages}}
      </p>

    </div>
    <div class="flex flex-row gap-6">
      <span class="text-xl font-semibold mr-2 px-2.5 py-0.5 rounded bg-green-200 text-green-900">Año: {{copyright}}</span>
      <span class="text-xl font-semibold mr-2 px-2.5 py-0.5 rounded bg-green-200 text-green-900">Edición: {{edition}}</span>
    </div>
    <p class="my-2 font-bold tracking-tight Itext-white">

    </p>
  </article>

</body>
{{/book}}

</html>