<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  {{#publisher}}
    <body>
      <header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
        <div class="mx-auto text-center mb-8 lg:mb-16">
          <h2 class="mb-4 text-5xl tracking-light font-extrabold text-white">
            {{#show}}
              {{title}}
            {{/show}}

            {{#create}}
              Creación de Editorial
            {{/create}}

            {{#edit}}
              Edición de Editorual
            {{/edit}}
          </h2>
        </div>
        <nav class="flex flex-col items-center justify-between w-full text-center text-xl md:flex-row">
          <a class="text-white font-bold" href="/">
            Libros
          </a>
          <a class="text-white font-bold" href="/author">
            Autores
          </a>
          <a class="text-white font-bold" href="/publisher">
            Editoriales
          </a>
        </nav>
      </header>

      {{#show}}
        <article class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10">
      {{/show}}

      {{#create}}
        <form class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10" action="/publisher" method="POST">
      {{/create}}

      {{#edit}}
      <article class="max-w-3xl mx-auto flex flex-col gap-10 mt-10 mb-10" action="/publisher/{{id}}" method="POST">
        <input type="hidden" name="_method" value="PUT">
      {{/edit}}

        <div class="flex flex-col gap-10 text-xl">

          <label class="mb-4 text-2xl tracking-light font-bold text-white">
            Nombre de la editorial:
          </label>
          <input type="text" name="publisher" {{#show}}readonly{{/show}} value="{{publisher}}">

          <label>
            País de la Editorial:
          </label>
          <input type="text" name="country" {{#show}}readonly{{/show}} value="{{country}}">
          
          <label>
            Género de la Editorial:
          </label>
          <input type="text" name="genre" {{#show}}readonly{{/show}} value="{{genre}}">
          {{#show}}
            <p>Libros publicados: {{#books}} <a class="text-purple-700 underline" href="/book/{{book_id}}">{{title}}</a> {{/books}}</p>
          {{/show}}
        </div>

        <div class="flex flex-row gap-6">
          <label class="text-xl font-semibold mr-2 px-2.5 py-0.5 rounded bg-green-200 text-green-900">Año de fundación:</label>
          <input type="number" name="founded" {{#show}}readonly{{/show}} value="{{founded}}">
        </div>
        {{#edit}}
          <input class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md" type="submit" value="Update">
        {{/edit}}

        {{#create}}
          <input class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md" type="submit" value="Create">
        {{/create}}

        {{#show}}
          <a href="{{id}}/edit" class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md">Editar Registro</a>
          <a href="{{id}}/delete" class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">Eliminar Registro</a>
        {{/show}}
        {{#show}}
          </article>
        {{/show}}

        {{#create}}
          </form>
        {{/create}}

        {{#edit}}
          </form>
        {{/edit}}
    </body>
    {{/publisher}}
</html>
